@config "./tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f5f4f1;
}

::-webkit-scrollbar-thumb {
  background: #b6ccd8;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00668c;
}